
{{ define "cards" }}

  <div class="bg-gray-600 container">
    <div class="bg-gray-600 header">
      <h1 class="">zetl</h1> 
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {{ template "items" . }}
    </div>
    <div class="footer">
    </div>
  </div>
{{ end }}

{{ define "items" }}
  {{ range .items }}
    <div class="bg-gray-400 rounded-lg p-4 m-8 hover:shadow-lg items-center card">
      <div class="quote">
        <h3>{{ .Quote }}</h3> 
      </div>
      <div class="author">
        <p>{{ .Author }}</p>
      </div>
      <div class="tags">
        {{ range .Tags }}
          <p>{{ . }}</p>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
