apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: zetl
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/zach-monroe/zetl
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: zetl
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
